*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
:root{
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color: #00ffee;
    --black : #000;
}

html{
    font-size: 60%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
.header{
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}
.text-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-logo .logo {
    text-align: center;
}
.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
    align-items: center;
}
.logo:hover{
    transform: scale(1.1);
    text-shadow: 0 0 25px var(--main-color);
}
.text-logo img{
   display: none;
}

.navbar a{
    font-size: 2rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: bolder;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
navbar{
    font-weight: 500;
}
.navbar a:active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
    /* font-weight: 900; */
}
.navbar a:hover{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
    font-weight: 900; 
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}
span{
    color: var(--main-color);
}
.logo span{
    color: var(--main-color);
}
.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}
.home-content h1{
    font-size: 7rem;
    font-weight: bold;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-img{
    border-radius: 50%;
}
.home-img img{
    position: relative;
    top: 3rem;
    width: 32vw;
    height: 68vh;
    border-radius: 50%;
    box-shadow: 0 0 15px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.home-img img:hover{
    box-shadow: 0 0 15px var(--main-color),
                0 0 30px var(--main-color),
                0 0 60px var(--main-color);
}
.home-content p{
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.8;
    max-width: 1000px;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}
.social-icons a:hover{
    color: black;
    transform: scale(1.3)translateY(-5px);
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
}
.btn{
    display: inline-block;
    margin: 0 0.5rem;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}
.btn-group{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.btn-group a:nth-of-type(2){
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}
.btn-group a:nth-of-type(2):hover{
    box-shadow: 0 0 25px var(--main-color);
}
.text-animation{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.text-animation span{
    position: relative;
}
.text-animation span::before{
    content: "Web Developer";
    color: var(--main-color);
    animation: words 20s infinite;
}
.text-animation span::after{
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% +8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(20) infinite;
}
@keyframes cursor{
    to{
        border-left: 2px solid var(--main-color);
    }
}
@keyframes words{
    0%,
    20%{
        content: "Frontend Developer";
    }
    21%,
    40%{
        content: "Backend Developer";
    }
    41%,
    60%{
        content: "Database Manager";
    }
    61%,
    80%{
        content: "Frontend Designer";
    }
    81%,
    100%{
        content: "MERN Stack Developer";
    }
}
@keyframes typing {
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 8px);
    }
    
}


.heading{
    font-size: 8rem;
    text-align: center;
    margin: 2.8rem 0;
}



.education{
    padding: 100px 15px;
    background-color: var(--second-bg-color);
}
.education h2{
    margin-bottom: 5rem;
}
.timeline-items{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.timeline-items::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--main-color);
    left: 50%;
    transform: translateX(-50%);
}
.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}
.timeline-item:last-child{
    margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}

.timeline-dot {
    height: 21px;
    width: 21px;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0; /* adjust the top property to position the dots vertically */
    border-radius: 50%;
}
.timeline-date{
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin: 6px 0 15px;
}
.timeline-content{
    background-color: var(--bg-color);
    border: 3px solid var(--main-color);
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px var(--main-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.timeline-content:hover{
    transform: scale(1.03);
    box-shadow: 0 0 20px var(--main-color);
}
.timeline-content h3{
    font-size: 20px;
    color: white;
    margin: 0 0 10px;
    font-weight: 600;
}
.timeline-content p{
    color: white;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
}
.timeline-content .place{
    color: white;
    font-size: 12px;
    font-weight: 200;
    margin-bottom: 3rem;
}
::-webkit-scrollbar{
    width: 15px;
    /* display: none; */
}
::webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
::-webkit-scrollbar-track{
    background-color: var(--bg-color);
}



.projects{
    background-color: var(--bg-color);
    color: black;
}
.projects h2{
    margin-bottom: 5rem;
    color: white;
}
.projects-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2.5rem;
}
.project-box{
    background-color: var(--main-color);
    height: 270px;
    border-radius: 3rem;
    border: 5px solid transparent;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.project-box:hover{
    background: white;
    color: black;
    border: 5px solid var(--main-color);
    transform: scale(1.03);
    font-weight: 500;
}
.project-box .project-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 30rem;
    justify-content: left;
    align-items: baseline;
    padding: 1.3rem 5rem 2rem 5rem;
}
.project-info h4{
    font-size: 1.9rem;
    font-weight: 800;
    line-height: 1.7;
}
.project-info h5{
    font-size: 1.5rem;
    font-weight: 750;
    margin-bottom: 1rem;
}
.project-info p{
    font-size: 1.4rem;
    font-weight: 600;
    max-height: 100px;
    line-height: 1.7;
    margin: auto;
}



/*.testimonials{
    background: var(--second-bg-color);
}
.testimonials-box{
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.testimonials .heading{
    margin-bottom: 5rem;
}
.testimonials-box img{
    width: 15rem;
    border-radius: 50%;
    border: 3px solid var(--main-color);
    box-shadow:  0 0 25px var(--main-color);
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);   This is the code to change the number of testimonials we want to show in the output 
    gap: 3rem;
}
.testimonial-item{
    min-height: 550px;
    max-width: 450px;
    background: rgba(0, 0, 0, 0.7);
    border: 3px solid rgba(238, 238, 238, 0.2);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 30px 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    color: white;
    transition: 0.4s ease-in-out;
}
.testimonial-item:hover{
    border: 3px solid var(--main-color);
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 0 35px var(--main-color);
}
.testimonial-item h2{
    font-size: 2.8rem;
}
.testimonial-item p{
    font-size: 1.3rem;
}
#star{
    font-size: 1.4rem;
    transform: scale(1.2);
    color: gold;
} */


.contact{
    background-color: var(--bg-color);
    min-height: 78vh;
    padding: 8rem 8rem 2rem 8rem;
    /* min-height: 80vh;
    padding: 8rem 8rem 0 8rem; */    /* for making footer on the same contact page*/
}
.contact h2{
    margin-bottom: 3rem;
    color: white;
}
.contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem auto;
    text-align: center;
}
.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    margin: 1.5rem 0;
    resize: none;
}
.contact form .btn{
    margin-bottom: 2rem;
}
.footer{
    position: relative;
    height: 22vh;    /*This can also be commented. Added this to make footer on the contact page*/
    bottom: 0;
    width: 100%;
    padding: 40px;
    background-color: var(--second-bg-color);
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}
.footer .social a{
    font-size: 25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}
.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    background-color: var(--main-color);
    color: black;
    box-shadow: 0 0 25px solid var(--main-color);
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}
.footer ul li a:hover{
    border-bottom: 3px solid var(--main-color);
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 30px;
    text-align: center;
    font-size: 16px;
    color: white;
}

@media(max-width:1285px){
    html{
        font-size: 55%;
    }
    .projects-container{
        padding-bottom: 7rem;
        grid-template-columns: repeat(2,1fr);
        margin: 0 5rem;
    }
    .heading{
        font-size: 6rem;
    }
}
@media(max-width:991px){
    header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .timeline-items::before{
        left: 7px;
    }
    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }
    .timeline-dot{
        left: 0;
    }
    .projects{
        padding-bottom: 7rem;
    }
    /* .testimonials .wrapper{
        grid-template-columns: repeat(2,1fr);
    } */
    .contact form{
        flex-direction: column;
    }
    .footer{
        padding: 2rem 3%;
    }
    .heading{
        font-size: 4rem;
    }
}
@media(max-width:895px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: white;
    }
    .home{
        flex-direction: column-reverse;
        margin: 5rem 4rem;
    }
    .home-content h3{
        font-size: 8rem;
        margin-top: 3rem;
    }
    .home-content p{
        max-width: 600px;
        margin: 0 auto;
    }
    .projects h2{
        margin-bottom: 3rem;
    }
    .projects-container{
        grid-template-columns: repeat(1,1fr);
    }
    .heading{
        font-size: 2rem;
    }
    .home-img img{
        display: none;
    }
}
@media(max-width:720px){
    html{
        font-size: 40%;
    }
    .header{
        padding: 4rem 4.5rem;
    }
    .heading{
        font-size: 5.7rem;
        margin-bottom: 1rem 3rem 3rem 3rem;
    }
    section{
        min-height: 95vh;
        padding-top: -20px;
    }
    .logo{
        font-size: 4rem;
    }
    .home-img{
        display: none;
    }
    .home{
        min-height: 100vh;
        margin: 10px 40px 40px 40px;
        padding: 2px 8px 8px 8px;    
        gap: 8rem;
    }
    .home-content h1{
        position: sticky;
        margin-top: 2.8rem;
        font-size: 6rem;
        line-height: 2.5;
    }
    .home-content h3{
        font-size: 4rem;
        margin-bottom: 30px;
    }
    .home-content p{
        font-size: 2rem;
        margin-bottom: 15px;
    }
    .social-icons a{
        width: 5.5rem;
        height: 5.5rem;
        margin: 4rem 2rem 4rem 0;
    }
    .btn{
        padding: 1.5rem 3rem;
        font-size: 2rem;
    }
    .btn-group{
        margin: 3rem 0rem;
        padding: 0;
    }
    .education{
        padding: 40px 15px 40px 15px;
    }
    .text-animation{
        font-size: 2rem;
        font-weight: 500;
        min-width: 180;
    }
    .timeline-date{
        font-size: 2rem;
    }
    .timeline-item{
        margin-bottom: 20px;
    }
    .timeline-content{
        padding: 10px 22px;
    }
    .timeline-content h3{
        font-size: 2.5rem;
        margin: 0 0 4px;
    }
    /* .timeline-content .cgpa p{
        font-size: 10px;
    } */
    .timeline-content p{
        color: white;

        font-size: 12px;
        font-weight: 400;
    }
    .timeline-content .place{
        color: white;
        font-size: 9px;
        font-weight: 400;
        margin-bottom: 1rem;
    }
    .projects{
        padding: 40px 15px 40px 15px;
    }
    .project-box{
        height: 30rem;
    }
    .project-info h4{
        font-size: 2.3rem;
    }
    .project-info h5{
        font-size: 1.8rem;
    }
    .project-info p{
        font-weight: 650;
    }
    .contact{
        padding: 40px 15px 5px 15px;
        min-height: 80vh;
    }
    .contact h2{
        margin-bottom: 2rem;
    }
    .contact form{
        gap: 2rem;
        margin: 3rem auto;
    }
    .contact form .input-box input, .contact form textarea {
        padding: 1.8rem;
    }
    .footer{
        height: 16vh;
        /* padding: 20px; */
    }
    .footer .social{
        padding-bottom: 15px;
    }
    .footer .social a{
        font-size: 16px;
        width: 34px;
        height: 34px;
        line-height: 34px;
    }
    .footer ul{
        font-size: 13px;
        line-height: 0.9;
    }
    .footer .copyright{
        margin-top: 17px;
        font-size: 12px;
    }
    .text-logo img{
        display: block;
        width: 12vw;
        height: 6vh;
        border-radius: 50%;
        padding: 0 0;
        margin-right: 10px;
    }
}
@media only screen and (max-width: 720px) {
    #menu-icon {
      width: 30px; 
      padding: 0; 
      margin: 0; 
    }
   .navbar.active {
      width: 25%; 
      padding: 0 10px 5px 10px; 
      margin-top: 0;
      margin-bottom: 0;
    }
    .navbar a{
        margin: 2rem 0 0 0;
    }
  }
